aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.9.1
aiomysql==0.3.2
aiosignal==1.4.0
asyncio==3.4.3
attrs==26.1.0
beautifulsoup4==4.14.3
dnspython==2.8.0
dotenv==0.9.9
frozenlist==1.8.0
idna==3.11
jalali-core==1.0.0
jdatetime==5.2.0
markdownify==1.2.2
multidict==6.7.1
mutagen==1.47.0
propcache==0.4.1
pycryptodome==3.23.0
pymongo==4.16.0
PyMySQL==1.1.2
python-bale-bot==2.5.0
python-dotenv==1.2.2
redis==7.4.0
rubpy==7.3.4
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
yarl==1.23.0
cryptography==46.0.6
